<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <div class="col-md-6">
      <div class="meal-detail">

        <select (change)="onChange($event.target.value)">
          <option value="allMeals" selected="selected">All Meals</option>
          <option value="highCalorieMeals">High Calorie Meals</option>
          <option value="lowCalorieMeals">Low Calorie Meals</option>
        </select>

        <h2>Meals Tracked</h2>
        <ul>
          <li *ngFor="let meal of parentMeals | caloricity:filterByCaloricity">{{meal.name}}
            <ul>
              <li>{{meal.details}}</li>
              <li>{{meal.calories}}</li>
              <li>{{meal.dateTime}}</li>
            </ul>
            <button class="btn btn-warning" (click)=selectMeal(meal)>Edit this</button>
          </li>
        </ul>
      </div>
      <div class="new-meal">
        <button class="btn btn-success" (click)="showNewMealForm()">Add A Meal</button>
        <div *ngIf='newMealForm'>
          <label for="name">Name</label>
          <input #name><br>
          <label for="details">Details</label>
          <input #details><br>
          <label for="calories">Caloric Value</label>
          <input #calories><br>
          <button class="btn btn-warning"(click)="addMeal(name.value, details.value, calories.value)">Burp!</button>
        </div>
      </div>
      <div class="edit-meal">
        <div *ngIf='selectedMeal'>
          <label for="name">Name</label>
          <input [(ngModel)]="selectedMeal.name"><br>
          <label for="details">Details</label>
          <input [(ngModel)]="selectedMeal.details"><br>
          <label for="calories">Caloric Value</label>
          <input [(ngModel)]="selectedMeal.calories"><br>
          <button class="btn btn-warning"(click)="closeEditForm()">Fixed It!</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
