<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <div class="col-md-6">
      <meal-detail [childMealList]='parentMeals' (selectClicker)=selectMeal($event)>...Loading</meal-detail>
      <new-meal [newMealForm]='parentNewMealForm' (addClicker)='addMeal($event)'  (showClicker)='showNewMealForm($event)'>...Loading</new-meal>
      <edit-meal [selectedMeal]='parentSelectedMeal' (doneClicker)=closeEditForm($event)>...Loading</edit-meal>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
