<div class="new-meal">
  <button class="btn btn-success" (click)="showNewMealForm()">Add A Meal</button>
  <div class="well" *ngIf='newMealForm'>
    <label for="name">Name</label>
    <input class="form-control" required #name><br>
    <label for="details">Details</label>
    <input class="form-control" required #details><br>
    <label for="calories">Caloric Value</label>
    <input type="number" class="form-control" required #calories><br>
    <button class="btn btn-warning"(click)="addMeal(name.value, details.value, calories.value); name.value=''; details.value=''; calories.value=''">Burp!</button>
  </div>
</div>
