<div class="meal-detail">
  <div class="middle">
    <h2>Meals Tracked</h2>
    <h4>Select A Subset</h4>
    <select (change)="onChange($event.target.value)">
      <option value="allMeals" selected="selected">All Meals</option>
      <option value="highCalorieMeals">High Calorie Meals</option>
      <option value="lowCalorieMeals">Low Calorie Meals</option>
    </select><br>
  </div>

  <ul>
    <div *ngFor="let meal of childMealList | async | caloricity:filterByCaloricity" class="well">
      <div class="row">
        <div class="col-md-8">
          <li >{{meal.name}}
            <ul>
              <li>{{meal.details}}</li>
              <li [class]="fatty(meal)">Calories: {{meal.calories}}</li>
              <li>{{meal.dateTime}}</li>
            </ul>
          </li>
        </div>
        <div class="col-md-4 middle">
          <button class="btn btn-warning button" (click)=selectMeal(meal)>Edit this</button>
        </div>
      </div>
    </div>
  </ul>
</div>
